altair
argon2-cffi
argon2-cffi-bindings
astor
asttokens
attrs
backcall
base58
black
bleach
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
docopt
entrypoints
executing
gitdb
GitPython
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-contrib-python
opencv-python
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
Pillow
pipreqs
platformdirs
prometheus-client
prompt-toolkit
protobuf
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
Send2Trash
six
smmap
stack-data
streamlit
tensorflow
terminado
testpath
toml
tomli
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
requests
urllib3
validators
watchdog
wcwidth
webencodings
widgetsnbextension
yarg
